*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 50px;
    padding: 10px;
    color:#fbfbfb
}
.registro{
    text-align: center;
    padding-top: 10rem;
   background-image: url(./pexels-cottonbro-6529216.jpg);
   background-size: 100% 100%;
   height: 843px;
    
   
   
}
.registro form{
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 10px;
    
   
}
input{
    text-align: center;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
}
a{
    height: 40px;
    width: 15rem;
    background: linear-gradient(to left, #f2fcfe, #1c92d2);
    text-align: center;
    margin-top: 10px;
    padding-top:9px ;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-size: 20px; 
    text-decoration: none;
    color: rgb(8, 8, 8);
}
input,a:hover{
    background: linear-gradient(to left, #f2fcfe, #1c92d2);
    padding: 15px 45px;
    text-align: center;
    transition: .5s;
    background-size: 200% auto;
    color: #fff;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    

   }
   